<!DOCTYPE html>
<html lang="hu" xmlns:th="https://www.thymeleaf.org">

<head>
	<title> Vendéglős szoftver / Asztal karbantartása</title>
	<meta charset="UTF-8">
	<meta name="description" content="Vendéglős program">
	<meta name="keywords" content="HTML, CSS, JavaScript">
	<meta name="author" content="Tóth István">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<link rel="stylesheet" th:href="@{css/asztal.css}" href="../static/css/asztal.css" />
	<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />...-->
	<!--    <link rel='stylesheet' id='et-builder-googlefonts-cached-css'  href='http://fonts.googleapis.com/css?family=Playfair+Display:regular,italic,700,700italic,900,900italic|Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic|Playfair+Display+SC:regular,italic,700,700italic,900,900italic|Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&#038;subset=latin-ext,vietnamese,cyrillic,latin,cyrillic-ext&#038;display=swap' type='text/css' media='all' />-->

</head>

<body>

	<p>xsyxcxx </p>
</body>

</html>