<!doctype html>
<html lang="hu">
<head>
<title>CSS GRID layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/imggalery01.css"  media="all">

</head>


<body>

<div class="img-gallery">
<img src="images/img1.jpg"  alt="">
 <input type = "checkbox">  
 <img src="images/img2.jpg"  alt="">  
  <input type = "checkbox">
</div>

<div class="img-gallery">    
  
 </div>   

 
    
    <img src="images/img3.jpg"  alt="">
    <input type = "checkbox">
    <img src="images/img4.jpg"  alt="">
    <input type = "checkbox">
    <img src="images/img5.jpg"  alt="">
    <input type = "checkbox">
    <img src="images/img6.jpg"  alt="">
    <input type = "checkbox">
    <img src="images/img7.jpg"  alt="">
    <input type = "checkbox">
    <img src="images/img8.jpg"  alt="">
    <input type = "checkbox">
   

</div>

</body>
</html>