*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
  }
div.fejlec{
	height:40px;
	background-color:#BE9667;
	align:center;
	
	
	
}
div.logo_container{
	
	padding:px;
	background-color:transparent;
	align:center;
	
	
	
}

span.telefonszam{
	
	 color: white;
	 margin:60px;
	 padding:8px
	
	
}
span.email_cim{
	
	 color: white;
	 margin:15px;
	 padding:8px
	
	
}
span.ikon{
	
	 color: white;
	 margin:15px;
	 padding:8px
	
	
}


div.sor
            {   
                width:40%;
                height:20%;
                align:center;
                margin-left: 36%;
                padding:15px;
            }
            
            div.kepDiv
            {
                width:65%;
                height:100%;
                float:center;
                 align:center;
            }
            
            img.kep
            {
                width:100%;
                height:100%;
                 align:center;
            }


#linknavbar {
background: transparent;
width: 1480px;
height: 40px;
color: #FFF;
margin-left: 20%;
padding: 30px;
}
#linknav {
margin: 0;
padding: 0;
}
#linknav ul {
float: left;
list-style: none;
margin: 0;
padding: 0;
}
#linknav li {
list-style: none;
margin: 0;
padding: 0;
float: left;
}
#linknav li a, #linknav li a:link, #linknav li a:visited {
color: rgb(0, 0, 0);
display: block;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
margin: 0 5px 0 0;
padding: 6px 13px;
}
#linknav li a:hover, #linknav li a:active {
background:transparent;
color: rgb(190, 150, 103);  
display: block;
text-decoration: none;
margin: 0 5px 0 0;
padding: 6px 13px;
}
#linknav li:hover, #linknav li.sfhover {
position: static;
}

.parent {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(16, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
}
navbar navbar-expand-lg{
	
	
	padding:130px,
}
.introCarousel{
	
	max-weight: 800px;
	
	
}
.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #BE9667;
  color: white;
}


h1{ text-align: center;
    margin: 50px;
	
}

h2{ text-align: center;
    margin: 50px;
	
}
h3{ text-align: center;
    margin: 50px;
	
}
.formclass{
	
	float:left;
	
	
}